body{
    display:inline-block;
    width:100%;
    text-align:center;
    margin:0px;
    font-size:20px;
}

img{
    width:100%;
}

ul{
    margin:0px;
    padding:0px;
}

li{
    list-style-type:none;
    padding:10px;
    text-align:left;
    vertical-align:middle;
    background-color:#ECECEC;
}

a{
    text-decoration:none;
    color:#000;
}

a:hover{
    color:#fff;
}


.menu{
    display:inline-block;
    width:100%;
    text-align:center;
    /*     padding:10px; */
    font-size:28px;
    
    color:#fff;
    background-color:#000;
}

.footer{
    width:100%;
    text-align:center;
    padding:10px;
    font-size:28px;
    
    color:#fff;
    background-color:#000;
}

.button{
    display:inline-block;
    width:49%;
    margin-top:10px;
    margin-bottom:10px;
    border:1px;
    border-style: solid;
    border-color:#fff;
    padding:5px;
    
    color:#fff;
    background-color:#000;
}

.button:hover{
    
    color:#000;
    background-color:#fff;
    cursor:pointer;
}

.image-list{
    display:inline-block;
    margin:0px;
    width:30%;
    vertical-align:top;
}

.previous{
}

.next{
}

.view{
    display:inline-block;
    margin:0px;
    width:39%;
    vertical-align:top;
/*     height:400px; */
}

.view-link{
    display:inline-block;
    margin:0px;
    width:19%;
    background-color:#ECECEC;
    height:400px;
    vertical-align:top;
}

.view-link:hover{
    background-color:#000;
}

.view-img{
    display:inline-block;
    margin:0px;
    width:60%;
}

.map{
    display:inline-block;
    margin:0px;
    width: 30%; 
    height: 400px;
}

.menu{
    display:inline-block;
    width:100%;
    text-align:center;
    /*     padding:10px; */
    font-size:28px;
    
    color:#fff;
    background-color:#000;
}

