body{
    display:inline-block;
    width:100%;
    text-align:center;
    margin:0px;
    font-size:20px;
}

img{
    width:100%;
}

ul{
    margin:0px;
    padding:0px;
}

li{
    list-style-type:none;
    padding:10px;
    text-align:left;
    vertical-align:middle;
    background-color:#ECECEC;
}

a{
    text-decoration:none;
    color:#000;
}

a:hover{
    color:#fff;
}


.menu{
    display:inline-block;
    width:100%;
    text-align:center;
    /*     padding:10px; */
    font-size:28px;
    
    color:#fff;
    background-color:#000;
}

.footer{
    width:100%;
    text-align:center;
    padding:10px;
    font-size:28px;
    
    color:#fff;
    background-color:#000;
}

.button{
    display:inline-block;
    width:49%;
    margin-top:10px;
    margin-bottom:10px;
    border:1px;
    border-style: solid;
    border-color:#fff;
    padding:5px;
    
    color:#fff;
    background-color:#000;
}

.button:hover{
    
    color:#000;
    background-color:#fff;
    cursor:pointer;
}

.menu{
    display:inline-block;
    width:100%;
    text-align:center;
    /*     padding:10px; */
    font-size:28px;
    
    color:#fff;
    background-color:#000;
    position: fixed;
    top:0px;
    left:0px;
    z-index:10000;
}

.content{
    display: inline-block;
    width: 100%;
    overflow:scroll;
    position: relative;
    top:64px;
}

.table{
    display: table;
    background-color:#ECECEC;
    width: 100%;
}

.image-list{
    display:table-cell;
    margin:0px;
    width:12%;
    vertical-align:top;
}

.view{
    display:table-cell;
    margin:0px;
    width:50%;
    vertical-align:top;
/*     height:400px; */
}

.map{
    display: table-cell;
    margin: 0px;
    width: 35%; 
    height: 400px;
}

.info{
    display: inline-block;
    width: 100%;
}

.view-link{
    display:table-cell;
    border: 1px;
    border-style: solid;
    border-color:#000;
    margin:0px;
    width:3%;
    height:400px;
    vertical-align:middle;
}

.view-link:hover{
    background-color:#000;
}

.view-img{
    display:table-cell;
    margin:0px;
    width:45%;
    vertical-align: middle;
}


.map:hover{
    cursor: crosshair;
}


