body{
    text-align:center;
    margin:0px;
    font-size:20px;
}

ul{
    margin:0px;
    padding:0px;
}

li{
    list-style-type:none;
    padding:10px;
    text-align:left;
    vertical-align:middle;
    background-color:#ECECEC;
}

a{
    text-decoration:none;
    color:#000;
}

a:hover{
    color:#fff;
}

li:hover{
    background-color:#000;
}

.menu{
    display:inline-block;
    width:100%;
    text-align:center;
/*     padding:10px; */
    font-size:28px;
    
    color:#fff;
    background-color:#000;
    position: fixed;
    top:0px;
    left:0px;
    z-index:1000;
}

.content{
    overflow:scroll;
    position: relative;
    top:64px;
    margin-bottom:52px;
}

.footer{
    width:100%;
    text-align:center;
    padding:10px;
    font-size:28px;
    
    color:#fff;
    background-color:#000;

    position: fixed;
    bottom:0px;
    z-index:10000;
}

.button{
    display:inline-block;
    width:48%;
    margin-top:10px;
    margin-bottom:10px;
    border:1px;
    border-style: solid;
    border-color:#fff;
    padding:5px;
    
    color:#fff;
    background-color:#000;
}

.button:hover{
    
    color:#000;
    background-color:#fff;
    cursor:pointer;
}